@import '../../../styles/mixins.sass';
@import '../../../styles/variables.sass';

.benzinga_600x500_container {
    
    background-color: white;
    @include center-col;
    justify-content: flex-start;
    width: 600px;
    height: 500px;
    padding: 10px 12px;

    // TOP SECTION
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 2px 0;
        .left {
            @include center-row;
            gap: .25rem;
            #icon {
                color: #6224C2;
                font-size: .85rem;
            }
            p {
                color: #999;
                font-size: .85rem;
                span {
                    text-decoration: underline;
                }
            }
        }
        .right {
            p {
                color: #999;
                font-size: .85rem;
            }
        }
    }

    // ROWS SECTION
    .rows {
        @include center-col;
        align-items: flex-start;
        width: 100%;
        margin-top: 10px;
        gap: 12px;
        .row {
            @include center-row;
            justify-content: flex-start;
            width: 100%;
            height: 95px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
            img {
                height: 3.1rem;
                margin: 0 .9rem 0 1rem;
            }
            #masterImg {
                border-radius: 10px;
            }
            #shellImg {
                height: 2.85rem;
            }
            .col-1 {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;
                width: 175px;
                height: 56px;
                padding-right: 15px;
                h2 {
                    font-size: 1.25rem;
                }
                p {
                    color: #444;
                    font-size: .725rem;
                }
            }
            .col-2 {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;
                height: 40px;
                width: 98px;
                p {
                    color: #777;
                    font-size: .75rem;
                }
                h2 {
                    font-size: 1.1rem;
                }
                .wrap {
                    display: flex;
                    gap: .4rem;
                    img {
                        height: 1.35rem;
                        width: 1.35rem;
                        margin: 0;
                    }
                }
            }
            .col-3 {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;
                height: 42px;
                width: 90px;
                p {
                    color: #777;
                    font-size: .75rem;
                }
                h2 {
                    font-size: 1.1rem;
                }
            }
            .col-4 {
                @include right;
                justify-self: flex-end;
                width: 120px;
                margin-right: 15px;
                button {
                    border: none;
                    outline: none;
                    font-size: .75rem;
                    color: white;
                    background-color: #53C29E;
                    border-radius: 1.8rem;
                    padding: .5rem .925rem;
                    cursor: pointer;
                }
            }
        }
    }

    // BOTTOM SECTION
    .bottom {
        @include right;
        align-items: flex-end;
        width: 100%;
        height: 32px;
        .right {
            @include center-row;
            gap: .25rem;
            p {
                font-size: .865rem;
                font-weight: 600;
            }
            #icon {
                font-size: 1.25rem;
            }
        }
    }
}